<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Faye Anime', root_path, :class => 'brand' %>
      <% if false %>
        <ul class="nav">
          <li><%= link_to "Anime", animes_path, :class => 'faye-link' %></li>
        </ul>

        <div class="dropdown account-position" id="menu1">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1"><div class="btn my-account btn-primary"> <span class="icon-cog nav-cog-icon"></span>My Account <b class="caret"></b></div></a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li><%= link_to('Edit account', edit_user_registration_path) %></li>
            <% else %>
              <li><%= link_to('Sign up', new_user_registration_path)  %></li>
            <% end %>
            <li class="divider"></li>
            <% if user_signed_in? %>
              <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>
            <% else %>
              <li><%= link_to('Login', new_user_session_path)  %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="main-search search-form">
        <%= search_form anime_search_path, class: '', placeholder: 'Search Anime' %>
      </div>

    </div>
  </div>
</div>
